* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carter One', cursive;
    text-decoration: none;
    font-weight: lighter;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    overflow: hidden;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        
      }
    #nautch {
        width: 150px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        z-index: 8;
        display: block;
        border-radius: 0 0 25px 25px;
        cursor: pointer;
    }

    nav {
        width: 100%;
        height: 80px;
        position: absolute;
        top: 0;
        display: flex;
        left: 0;
        z-index: 5;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        text-transform: capitalize;
        opacity: 1;
        transition: .2s;
        opacity: 0;
        h1 {
            a {
                font-size: 1.5rem;
                color: red;
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            @media only screen and (max-width: 700px) {
                position: absolute;
                width: 100%;
                height: 100vh;
                top: 0;
                left: 0;
                background: rgb(46, 46, 46);
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            li {
                margin-right: 20px;
                overflow: hidden;
                @media only screen and (max-width: 600px) {
                    margin: 10px 0;
                }
                a {
                    padding: 10px 15px;
                    font-size: 1rem;
                    color: red;
                    position: relative;

                    &::after {
                        position: absolute;
                        background: rgb(0, 0, 0);
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        left: -105%;
                        transition: .5s;
                        text-align: center;
                        line-height: 2.8rem;
                        color: white;
                    }

                    &::before {
                        content: '';
                        background: rgb(255, 0, 0);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: -105%;
                        transition: .5s;
                        transition-delay: .2s;
                    }

                    &:hover::after,
                    &:hover::before {
                        left: 0;
                    }
                }

                #a::after {
                    content: 'home';
                }

                #b::after {
                    content: 'fashion';
                }

                #c::after {
                    content: 'news';
                }

                #d::after {
                    content: 'contact';
                }

                #e::after {
                    content: 'login';
                }
            }
        }
    }
    #text-container {
        background-color: white;
        width: 70%;
        height: 100%;
        overflow: hidden;
        position: relative;
        @media only screen and (max-width: 600px) {
            z-index: 1;
            background: none;
            position: absolute;
            bottom: -150px;
            width: 100%;
        }

        h1 {
            font-size: 12vw;
            text-transform: capitalize;
            left: 5%;
            font-weight: bolder;
            top: 150px;
            position: relative;
            color: red;
            font-family: 'Great Vibes', cursive;
            @media only screen and (max-width: 600px) {
                font-size: 18vw;
                top: 250px;
            }
        }

        p {
            font-size: 1.2rem;
            left: 5%;
            position: relative;
            top: 150px;
            width: 90%;
            @media only screen and (max-width: 600px) {
                font-size: 3.5vw;
                color: yellow;
                top: 250px;
            }
        }

        button {
            font-size: 1.2rem;
            padding: 5px 20px;
            text-transform: capitalize;
            position: absolute;
            right: 50px;
            bottom: 150px;
            background: white;
            color: red;
            cursor: pointer;
            box-shadow: none;
            transition: .2s;
            outline: none;
            border: none;
            border-bottom: 3px solid red;
            overflow: hidden;
            @media only screen and (max-width: 700px) {
                display: none;
            }
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                background: rgb(0, 0, 0);
                position: absolute;
                top: 0;
                left: -100%;
                transition: .5s;
                line-height: 2.5rem;
            }

            &:hover::after {
                content: 'about us';
                left: 0;
                color: white;
            }

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                background: rgb(255, 0, 0);
                left: -100%;
                transition: .5s;
                transition-delay: .2s;
            }

            &:hover::before {
                content: 'about us';
                left: 0;
            }

            &:hover {
                color: white;
                border-color: white;
            }
        }

        #png-img2 {
            width: 100%;
            opacity: .2;
            position: absolute;
            left: -200px;
            top: 0;
            @media only screen and (max-width: 600px) {
                display: none;
            }
        }
    }

    #img-container {
        height: 100%;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        
        @media only screen and (max-width: 600px) {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        #first-img {
            height: 100vh;
            filter: contrast(45);
            
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        #png-img {
            height: 350px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            @media only screen and (max-width: 600px) {
                object-fit: cover;
            }
        }
    }
}